body {
  background: #f0f0f0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  height: 90vh;
  flex-direction: column;
}


aside {
  display: flex;
  justify-content: space-between;
}

aside h3 {
  margin: 0;
  font-size: 16px;
}

aside div {
  margin-right: 10px;
}


.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.buttons div {
  display: flex;
}

.buttons svg {
  fill: #222222;
  width: 20px;
  height: 20px;
  margin: 5px;
}


#playground {
  flex-shrink: 1;
  margin-left: auto;
  margin-right: auto;
  background: #222222;
}
rect {
  stroke-width: 0.01;
  stroke: #222222;
}


#rowsDiv {
  font-weight: bold;
}

#next {
  width: 60px;
}